<div id="image-{{index}}" class="image form-group col-md-12">
  <div class="col-md-7">
    <input type="text" name="images[][title]" class="{{class}} form-control" id="{{text}}" placeholder="name">
    <input type="file" name="images[][file]" class="{{class}} get-file form-control" id="{{url}}">
  </div>
  <div class="col-md-5">
    <img class="image-preview" data-src="" src="" alt="" height="80">
    <span class="item-remove">
      <i class="fa fa-eraser delete-image"></i>
    </span>
  </div>
</div>
