<div id="image-{{index}}" class="image form-group col-md-10">
  <div class="col-md-7">
    <input type="text" name="images[][title]" class="{{class}} form-control" id="{{text}}" placeholder="name">
    <input type="file" name="images[][file]" class="{{class}} get-file form-control" id="{{url}}">
  </div>
  <div class="col-md-3">
    <img class="image-preview" data-src="" src="" alt="" width="200px">
  </div>
</div>
