<div class="col-md-12 projects">
  <div class="col-md-2">
    <h4><i class="fa fa-smile-o"></i> bio</h4>

    <button class="btn btn-default" id="save">save</button>
  </div>
  <div class="col-md-10 right" id="form">
    <form role="form" id="info">
      <div class="form-group">
        <label for="">name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{name}}">
      </div>
      <div class="form-group">
        <label for="">bio</label>
        <article id="bio" contenteditable="true">{{{bio}}}</article>
      </div>
      <div class="image form-group col-md-10">
        <h4>picture</h4>
        <div class="col-md-7">
          <input type="file" name="portrait" id="portrait" class="get-file form-control">
        </div>
        <div class="col-md-3">
          <img class="image-preview" src="http://localhost:31173/{{portrait}}" alt="" width="200px">
        </div>
      </div>
      <div class="col-md-7">
        <h4>full cv (.pdf)</h4>
        <input type="file" name="fullCv" id="fullCv" class="get-file form-control">
      </div>

      <div class="col-md-12" id="exhibitions">
        <h3>Exhibitions <i id="plus-exhibition" class="fa fa-plus"></i></h3>
        {{#if exhibitions}}
          {{#each exhibitions}}
            <div id="exhibition-{{@index}}" class="exhibition col-offset-1 col-md-10">
              <div class="col-md-8 ">
                <label for="">title</label>
                <input type="text" name="exhibitions[][title]" class="form-control" id="" value="{{this.title}}">
                <label for="">date</label>
                <input type="date" name="exhibitions[][date]" class="form-control" id="" value="{{this.date}}">
                <label for="">location</label>
                <input type="text" name="exhibitions[][location]" class="form-control" id="" value="{{this.location}}">
              </div>
              <div class="col-md-offset-1 col-md-1">
                <span class="item-remove">
                  <i class="fa fa-eraser delete-exhibition"></i>
                </span>
              </div>
            </div>

          {{/each}}
        {{/if}}
      </div>
    </form>
  </div>
</div>

