<div class="col-md-12 news">
  <div class="col-md-2">
    <h4><i class="fa fa-gears"></i> initial configuration</h4>

    <button class="btn btn-info" id="save">save</button>
  </div>
  <div class="col-md-10 rigth" id="form">
    <p>select the folder you want to use to store your website</p>
    <ul id="folders">
      <li class="folder" data-path="{{up}}">
        <i class="fa fa-level-up"></i>
      </li>
      {{#each content}}
        <li>
          <i class="fa fa-folder-o"></i>
        <span class="folder" data-path="{{this.path}}/{{this.name}}">{{this.name}}</span>
        <span class="select" data-path="{{this.path}}/{{this.name}}">
          <i class="fa fa-check"></i>
        </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
