<div class="col-md-12 projects">
  <div class="col-md-2">
    <h4><i class="fa fa-file-text-o"></i> new project</h4>

    <button class="btn btn-default" id="save">save</button>
  </div>
  <div class="col-md-10" id="form">
    <form role="form" id="info">
      <div class="form-group">
        <input type="text" class="form-control" name="title" id="title" value="{{title}}">
      </div>
      <div class="form-group">
        <textarea name="description" id="description" class="form-control" rows="10">{{description}}</textarea>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" name="date" id="date" value="{{date}}">
      </div>
      <div class="form-group" id="links">
        <h3>links <i id="plus-link" class="fa fa-plus"></i></h3>
        {{#if links}}
          {{#each links}}
          <div class="col-md-9 link">
            <div class="col-md-offset-1 col-md-7 form-group">
              <label>name</label>
              <input type="text" name="links[][name]" class="form-control" id="" value="{{this.name}}">
              <label>url</label>
              <input type="url" name="links[][url]" class="form-control" id="" value="{{this.url}}">
            </div>
            <div class="col-md-2 item-remove">
              <span>
                <i class="fa fa-eraser delete-link"></i>
              </span>
            </div>
          </div>
          {{/each}}
        {{/if}}
      </div>
      <div class="col-md-10" id="videos">
        <h3>videos <i id="plus-video" class="fa fa-plus"></i></h3>
        {{#if videos}}
          {{#each videos}}
            <div class="videos form-group">
              <input type="text" name="videos[][code]" class="video-input form-control" value="{{this.code}}">
              <div class="video-preview">
                {{{this.code}}}
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </form>
    <div class="col-md-10" id="images">
      <h3>images <i id="plus-image" class="fa fa-plus"></i></h3>
      {{#if images}}
        {{#each images}}
          <div class="image form-group col-md-10">
            <div class="col-md-7">
              <input type="text" name="images[][title]" class="form-control" value="{{this.title}}">
              <input type="file" name="images[][file]" class="get-file form-control">
            </div>
            <div class="col-md-3">
              <img class="image-preview" data-src="{{this.file}}" src="http://localhost:31173/{{this.file}}" alt="" width="200px">
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
