<div class="col-md-12 news">
  <div class="col-md-2">
    <h4><i class="fa fa-comment-o"></i> news</h4>
    <div id="new" class="new"><i class="fa fa-plus-square-o"></i></div>
  </div>
  <div class="col-md-10 right">
    <ul id="project-list">
      {{#each models}}
        <li id="{{this.id}}">
          <a class="detail" data-id="{{this.id}}" href="#news/{{this.id}}">{{this.attributes.title}}</a>

          <span class="delete" data-id="{{this.id}}">
            <i class="fa fa-eraser"></i>
          </span>

        </li>
      {{/each}}
    </ul>
  </div>
</div>
