<div class="col-md-12 settings">
  <div class="col-md-2">
    <h4><i class="fa fa-hdd-o"></i> Settings</h4>

    <button class="btn btn-default" id="save">save</button>
  </div>
  <div class="col-md-10" id="form">
    <form role="form" id="settings-form">
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" id="author" value="{{author}}">
      </div>
      <div class="form-group">
        <label for="siteName">Site name</label>
        <input type="text" class="form-control" name="siteName" id="siteName" value="{{siteName}}">
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" name="url" id="url" value="{{url}}">
      </div>

      <h4>FTP configuration</h4>
      <div class="form-group">
      <label for="username">Username</label>
        <input type="text" class="form-control" name="ftp[][username]" id="username" value="{{username}}">
      </div>
      <div class="form-group">
      <label for="password">Password</label>
        <input type="text" class="form-control" name="ftp[][password]" id="password" value="{{password}}">
      </div>
      <div class="form-group">
        <label for="host">Host</label>
        <input type="text" class="form-control" name="ftp[][host]" id="host" value="{{host}}">
      </div>
      <div class="form-group">
        <label for="path">Public path</label>
        <input type="text" class="form-control" name="ftp[][path]" id="path" value="{{path}}">
      </div>
    </form>
  </div>
</div>

